{% load static %}
<html lang="en">

<head>
    <meta name="description" content="{% block description %}   {{ setting.description}}  {% endblock %}">
    <meta name="keywords" content="{% block keywords %}   {{ setting.keywords}}  {% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}   {{ setting.title}}  {% endblock %}</title>
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/img/logo/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'website/img/logo/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/img/logo/favicon-16x16.png' %}">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/barfiller.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" type="text/css">
</head>

<body data-spy="scroll" data-target=".vesco-top-nav" data-offset="65">
<header>
           <nav class="navbar vesco-top-nav  navbar-expand-lg navbar-dark fixed-top pl-5 pr-5">


            <a class="navbar-brand" href="#home">
                <img src="{% static 'website/img/logo/logos.png' %}" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#vesco-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse vesco-nav-wrapper" id="vesco-menu" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a  href="/homes/">Home</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="/faq/">FAQ</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="/about/">About</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="#work">Work</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="/pricing/">Pricing</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="/contact/">Contact</a></li>

                     <li class="nav-item pr-2 nav-link smooth-scroll"><a class="fa fa-facebook"  href="https://www.facebook.com/salome.dita.96"></a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll "><a class="fa fa-twitter"  href="https://www.instagram.com/trekcontainerpools123?r=nametag"></a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="fa fa-instagram"  href="https://www.instagram.com/trekcontainerpools123?r=nametag"></a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="fa fa-linkedin"  href="/homes/"></a></li>
                </ul>
<!--                <ul>-->
<!--                 <li class="nav-item pr-2"><a class="nav-link smooth-scroll">CALL US: + 1 800-567-8990</a></li>-->
<!--                    <li class="nav-item pr-2"><a class="nav-link smooth-scroll" >WRITE US: OFFICE@EXAMPLE.COM</a></li>-->
<!--                    <li class="nav-item pr-2"><a class="nav-link smooth-scroll" >OPENING TIMES: MON - FRI: 9:00 - 19:00</a></li>-->

<!--            </ul>-->
            </div>


        </nav>


    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="{% static 'website/img/hero/hero-website6.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Contact Us</h2>
                        <div class="breadcrumb__widget">
                            <a href="home.html">Home</a>
                            <span>Contact Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->
{% if message_name %}
<center>
    <h2>Thanks {{ message_name }}!</h2>
    <p>We recieved your email and will respond shortly....</p>
</center>
{% else %}
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="contact__widget__item">
                        <span class="icon_phone"></span>
                        <h4>Phone</h4>
                        <p>+12137842257</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="contact__widget__item">
                        <span class="icon_pin_alt"></span>
                        <h4>Address</h4>
                        <p>California</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="contact__widget__item">
                        <span class="icon_clock_alt"></span>
                        <h4>Email</h4>
                        <p>Trecontainerpools@gmail.com</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="contact__widget__item">
                        <span class="icon_mail_alt"></span>
                        <h4>Fax</h4>
                        <p>+1 813 421 0561</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->


    <!-- Map Begin -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49116.39176087041!2d-86.41867791216099!3d39.69977417971648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886ca48c841038a1%3A0x70cfba96bf847f0!2sPlainfield%2C%20IN%2C%20USA!5e0!3m2!1sen!2sbd!4v1586106673811!5m2!1sen!2sbd"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h5>New York</h5>
                <ul>
                    <li>Phone: +12137842257</li>
                    <li>California </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->
{% endif %}
    <!-- Leave Comment Begin -->
    <div class="leave-comment comment-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="leave__comment__text">
                        <h2>Get In Touch </h2>
                        <form action="{% url 'contact' %}" method="post">
                                        {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <input type="text" placeholder="name" name="message-name">
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input type="email" placeholder="email" name="message-email">
                                </div>
                                <div class="col-lg-12 text-center">
                                    <textarea name="message" placeholder="Your Comment"></textarea>
                                    <button type="submit" class="site-btn">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Leave Comment End -->

   <!-- Footer Section Begin -->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <img src="{% static 'website/img/logo/logo.png' %}" alt="">
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Mon - Fri: 6:30am - 07:45pm</li>
                            <li><i class="fa fa-clock-o"></i> Sat - Sun: 8:30am - 05:45pm</li>
                        </ul>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Your Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Inspiration</h5>
                        <ul>
                          <li class="active"><a href="/home/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/faq/">FAQ</a></li>

                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>About Us</h5>
                        <ul>
                            <li><a href="/about/">Our Vision</a></li>
                            <li><a href="/about/">Our Mission</a></li>
                            <li class="active"><a href="//home/">Home</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/faq/">FAQ</a></li>

                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h5>Contact Us</h5>
                        <ul class="footer-address">
                            <li><i class="fa fa-phone"></i> {{ setting.phone}}</li>
                            <li><i class="fa fa-envelope"></i> {{ setting.email}}</li>
                            <li><i class="fa fa-location-arrow"></i> {{ setting.address}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'website/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'website/js/main.js' %}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
 <script>
       $(document).ready(function() {
          $('.gallery__pic').magnificPopup({
             type: 'image',
             gallery:{enabled:true},
             removalDelay: 300,       // Delay in milliseconds before popup is removed
             mainClass: 'mfp-fade'   // Class that is added to popup wrapper and background
             // other options
          });
       });
    </script>
<script>
    $( function() {
        $( "#accordion" ).accordion({
            collapsible: true
        });

    } );
</script>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-3b86b8ba-777f-4cb2-95f1-cb162d998390"></div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ef906d74a7c6258179b8036/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

<!--End of Tawk.to Script-->


</body>

</html></html>