{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}

    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="{% static 'website/img/hero/hero-website4.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>FAQS</h2>
                        <div class="breadcrumb__widget">
                            <a href="home.html">Home</a>
                            <span>FAQS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Faq Begin -->
    <div class="faq spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="faq__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">
                                        <span>So what happens next?</span>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Once you are ready to place your order we will walk you through the steps to finalize your pool package including length, equipment, color and shipping costs. We will ensure the configuration of your Trek Pool fits perfectly with the location and placement at your home or business. </p>
                                        <p>We require a 30% deposit to secure your spot in the design process along with your signed contract.  After we receive your deposit we get to work on your design with dimensions for you to approve. After the design is approved we require 30% payment to begin the production of your pool.  Throughout the production process we send you images and updates to keep you in the loop. During this time, we can also help coordinate with your local contractor who will need to prepare the site. Depending on the final placement of your pool, a 4”-6” concrete base needs to be formed prior to you receiving the shipment of your Trek Pool™. You will also need 60 amp service installed to the site and a gas connection if you upgraded to a gas heater. </p>
                                        <h6>Still need help? <a href="#">Get in touch with us.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading active">
                                    <a data-toggle="collapse" data-target="#collapseTwo">
                                        <span>How long does production take?</span>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Trek Pools take 3-4 weeks to produce. Depending on how many are on order, this timeframe can be longer.  You will be provided a timeframe once a deposit has been given.</p>

                                        <h6>Still need help? <a href="/Contact/">Get in touch with us.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">
                                        <span>Can I use my Trek Pool™ in the winter?</span>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Sure! Anything is possible! To minimize heat loss we would suggest insulating your container pool walls. We can also provide thermal covers to help keep the heat in. If you’d like more information please let us know!</p>
                                        <h6>Still need help? <a href="/contact/">Get in touch with us.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">
                                        <span>What is the warranty on a Trek Container  Pool?</span>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Your Trek Pool is under warranty for the first year after purchase. It covers all manufacturer defects and issues. Your pool equipment is under warranty the pool equipment manufacturer. The pool equipment manufacturer has representatives in your local area to service and maintain your equipment if needed. If you ever have an issue, we will be the first ones to help troubleshoot the problem, connect you with an equipment manufacturer or be on site to repair any manufacturer defects. Our technicians can resolve all issues by phone or on site.</p>

                                        <h6>Still need help? <a href="/Contact/">Get in touch with us.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">
                                        <span>What are the measurements & weight ?</span>
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p><td>12′ trekpool

Water Level: 4′

Height: 4’8″

Width: 8’2.5”

Length: 12’7″

Dry Weight: 4000 lbs

Full Weight: 20,700 lbs

Volume: 2500 gal

20′ trekpool

Water Level: 4’6″

Height: 5’2”

Width: 8’4”

Length: 20′

Dry Weight: 7,800 lbs

Full Weight: 46,200 lbs

Volume: 4800 gal

40′ trekpool

Water Level: 4’6″

Height: 5’3”

Width: 8’6”

Length: 40’2″

Dry Weight: 16,000 lbs

Full Weight: 95,000 lbs

Volume: 9600 gal</td></p>

                                        <h6>Still need help? <a href="#">Get in touch with us.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">
                                        <span>What is the class cancellation policy?</span>
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>No. You may not transfer, trade, or otherwise exchange ClassPass credits. If
                                            you’re interested in gifting ClassPass to someone, you can purchase a gift
                                            card here.</p>
                                        <p>Please allow 1 day for tracking information to update on your order. If you
                                            are unable to track your order, please let us know and we'll be happy to
                                            assist.</p>
                                        <h6>Still need help? <a href="#">Get in touch with us.</a></h6>
                                    </div>
                                </div>
                            </div>
                            <p></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Faq End -->


 <!-- Gallery Section Begin -->
    <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Our Gallery</h2>
                        <p>Interested in seeing more of our pools? Check out our Instagram page!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-3.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-4.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-5.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-6.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-7.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-8.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Section End -->

<br>
<br>


   {% endblock %}