{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}

    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="{% static 'website/img/hero/hero-website6.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Pricing</h2>
                        <div class="breadcrumb__widget">
                            <a href="home.html">Home</a>
                            <span>Pricing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Pricing Section Begin -->
    <section class="pricing spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Our Pricing</h2>
                        <p>Yoga is popular with people with arthritis for its gentle way of <br />promoting flexibility
                            and strength.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 p-0 col-md-6">
                    <div class="pricing__item set-bg" data-setbg="{% static 'website/img/pricing/price-bg-1.png' %}">
                        <h4>Twenty Foot</h4>
                         <div class="pricing__item__price">
                             <h2>$25,000</h2>
                            <span>/month</span>
                        </div>
                        <ul>
                            <li>Trek Pool Stair Design with 2 side benches</li>
                            <li>Interior Trek Pool Liner System</li>
                            <li>Exterior Marine Grade Trek Pool Coating System</li>
                            <li>2 Color Changing LED lights</li>
                            <li>Cartridge Filter</li>
                            <li>Ultra Violet Sanitizer</li>
                            <li>Variable Speed Pump</li>
                            <li>All Schedule 40 connections and fittings</li>
                        </ul>
                        <a href="#" class="primary-btn">ORDER Your 20 Foot</a>
                    </div>
                </div>
<div class="col-lg-4 p-0 col-md-6">
                    <div class="pricing__item set-bg" data-setbg="{% static 'website/img/pricing/price-bg-1.png' %}">
                        <h4>Premium</h4>
                        <div class="pricing__item__price">
                            <h2> $65,000</h2>
                            <span>/month</span>
                        </div>
                        <ul>
                            <li>Trek Pool Stair Design with 2 side benches</li>
                            <li>Interior Trek Pool Liner System</li>
                            <li>Exterior Marine Grade Trek Pool Coating System</li>
                            <li>2 Color Changing LED lights</li>
                            <li>Cartridge Filter</li>
                            <li>Ultra Violet Sanitizer</li>
                            <li>Variable Speed Pump</li>
                            <li>All Schedule 40 connections and fittings</li>
                        </ul>
                        <a href="#" class="primary-btn">ORDER Your Premium Con</a>
                    </div>
                </div>
                <div class="col-lg-4 p-0 col-md-6">
                    <div class="pricing__item set-bg" data-setbg="{% static 'website/img/pricing/price-bg-1.png' %}">
                        <h4>Fourty Foot</h4>
                        <div class="pricing__item__price">
                            <h2> $40,000 </h2>
                            <span>/month</span>
                        </div>
                        <ul>
                            <li>Trek Pool Stair Design with 2 side benches</li>
                            <li>Interior Trek Pool Liner System</li>
                            <li>Exterior Marine Grade Trek Pool Coating System</li>
                            <li>2 Color Changing LED lights</li>
                            <li>Cartridge Filter</li>
                            <li>Ultra Violet Sanitizer</li>
                            <li>Variable Speed Pump</li>
                            <li>All Schedule 40 connections and fittings</li>
                        </ul>
                        <a href="#" class="primary-btn">ORDER Your 40 Foot</a>
                    </div>
                </div>
                 <div class="col-lg-4 p-0 col-md-6">
                    <div class="pricing__item set-bg" data-setbg="{% static 'website/img/pricing/price-bg-1.png' %}">
                        <h4>Thirty Foot</h4>
                        <div class="pricing__item__price">
                            <h2> $35,000 </h2>
                            <span>/month</span>
                        </div>
                        <ul>
                            <li>Trek Pool Stair Design with 2 side benches</li>
                            <li>Interior Trek Pool Liner System</li>
                            <li>Exterior Marine Grade Trek Pool Coating System</li>
                            <li>2 Color Changing LED lights</li>
                            <li>Cartridge Filter</li>
                            <li>Ultra Violet Sanitizer</li>
                            <li>Variable Speed Pump</li>
                            <li>All Schedule 40 connections and fittings</li>
                        </ul>
                        <a href="#" class="primary-btn">ORDER Your 40 Foot</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Pricing Section End -->
 <!-- Gallery Section Begin -->
    <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Our Gallery</h2>
                        <p>Interested in seeing more of our pools? Check out our Instagram page!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-3.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-4.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-5.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-6.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-7.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-8.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Section End -->

<br>
<br>
<br>
    <!-- Appoinment Section Begin -->
    <section class="appointment">
        <div class="container">
            <div class="appointment__text">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <img src="img/icon-white.png" alt="">
                            <h2>Make An Appointment</h2>
                        </div>
                    </div>
                </div>
                <form action="#" class="appointment__form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Phone">
                        </div>
                        <div class="col-lg-6">
                            <select class="class-select">
                                <option value="">Choose Your Class</option>
                            </select>
                        </div>
                        <div class="col-lg-12 text-center">
                            <textarea placeholder="Message"></textarea>
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Appoinment Section End -->
<br>
<br>
<br>
   {% endblock %}