{% load static %}
<html lang="en">

<head>
    <meta name="description" content="{% block description %}   {{ setting.description}}  {% endblock %}">
    <meta name="keywords" content="{% block keywords %}   {{ setting.keywords}}  {% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}   {{ setting.title}}  {% endblock %}</title>
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/img/logo/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'website/img/logo/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/img/logo/favicon-16x16.png' %}">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/barfiller.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" type="text/css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="65">

    <header>

       <!-- <nav class="navbar navbar-fixed-top">

            <div class="container-fluid">

                <div class="vesco-nav-wrapper">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vesco-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                       </button>

                        <a class="navbar-brand" href="#home">
                            <img src="img/logo.png" alt="logo">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="vesco-menu">
                        <ul class="nav navbar-nav">
                            <li><a class="smooth-scroll" href="#home">Home</a></li>
                            <li><a class="smooth-scroll" href="#services">Services</a></li>
                            <li><a class="smooth-scroll" href="#about">About</a></li>
                            <li><a class="smooth-scroll" href="#work">Work</a></li>
                            <li><a class="smooth-scroll" href="#team">Team</a></li>
                            <li><a class="smooth-scroll" href="#testimonials">Testimonials</a></li>
                            <li><a class="smooth-scroll" href="#pricing">Pricing</a></li>
                            <li><a class="smooth-scroll" href="#stats">Stats</a></li>
                            <li><a class="smooth-scroll" href="#clients">Clients</a></li>
                            <li><a class="smooth-scroll" href="#contact">Contact</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </nav>-->

              <nav class="navbar vesco-top-nav  navbar-expand-lg navbar-dark fixed-top pl-5 pr-5">


            <a class="navbar-brand" href="#home">
                <img src="{% static 'website/img/logo/logos.png' %}" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#vesco-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse vesco-nav-wrapper" id="vesco-menu" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a  href="/homes/">Home</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="/faq/">FAQ</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="/about/">About</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="#work">Work</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="/pricing/">Pricing</a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="" href="/contact/">Contact</a></li>

                     <li class="nav-item pr-2 nav-link smooth-scroll"><a class="fa fa-facebook"  href="https://www.facebook.com/salome.dita.96"></a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll "><a class="fa fa-twitter"  href="https://www.instagram.com/trekcontainerpools123?r=nametag"></a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="fa fa-instagram"  href="https://www.instagram.com/trekcontainerpools123?r=nametag"></a></li>
                    <li class="nav-item pr-2 nav-link smooth-scroll"><a class="fa fa-linkedin"  href="/homes/"></a></li>
                </ul>
<!--                <ul>-->
<!--                 <li class="nav-item pr-2"><a class="nav-link smooth-scroll">CALL US: + 1 800-567-8990</a></li>-->
<!--                    <li class="nav-item pr-2"><a class="nav-link smooth-scroll" >WRITE US: OFFICE@EXAMPLE.COM</a></li>-->
<!--                    <li class="nav-item pr-2"><a class="nav-link smooth-scroll" >OPENING TIMES: MON - FRI: 9:00 - 19:00</a></li>-->

<!--            </ul>-->
            </div>


        </nav>

           </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="{% static 'website/img/hero/hero-website6.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Pricing</h2>
                        <div class="breadcrumb__widget">
                            <a href="home.html">Home</a>
                            <span>Pricing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Pricing Section Begin -->
    <section class="pricing spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Our Pricing</h2>
                        <p>Yoga is popular with people with arthritis for its gentle way of <br />promoting flexibility
                            and strength.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 p-0 col-md-6">
                    <div class="pricing__item set-bg" data-setbg="{% static 'website/img/pricing/price-bg-1.png' %}">
                        <h4>Twenty Feet</h4>
                         <div class="pricing__item__price">
                             <h2>$25,000</h2>
                            <span></span>
                        </div>
                        <ul>
                            <li>Trek Pool Stair Design with 2 side benches</li>
                            <li>Interior Trek Pool Liner System</li>
                            <li>Exterior Marine Grade Trek Pool Coating System</li>
                            <li>2 Color Changing LED lights</li>
                            <li>Cartridge Filter</li>
                            <li>Ultra Violet Sanitizer</li>
                            <li>Variable Speed Pump</li>
                            <li>All Schedule 40 connections and fittings</li>
                        </ul>
                        <a href="/contact/" class="primary-btn">ORDER Your 20 Foot</a>
                    </div>
                </div>
<div class="col-lg-4 p-0 col-md-6">
                    <div class="pricing__item set-bg" data-setbg="{% static 'website/img/pricing/price-bg-1.png' %}">
                        <h4>Premium</h4>
                        <div class="pricing__item__price">
                            <h2> $65,000</h2>
                            <span></span>
                        </div>
                        <ul>
                            <li>Trek Pool Stair Design with 2 side benches</li>
                            <li>Interior Trek Pool Liner System</li>
                            <li>Exterior Marine Grade Trek Pool Coating System</li>
                            <li>2 Color Changing LED lights</li>
                            <li>Cartridge Filter</li>
                            <li>Ultra Violet Sanitizer</li>
                            <li>Variable Speed Pump</li>
                            <li>All Schedule 40 connections and fittings</li>
                        </ul>
                        <a href="/contact/" class="primary-btn">ORDER Your Premium Con</a>
                    </div>
                </div>
                <div class="col-lg-4 p-0 col-md-6">
                    <div class="pricing__item set-bg" data-setbg="{% static 'website/img/pricing/price-bg-1.png' %}">
                        <h4>Fourty Feet</h4>
                        <div class="pricing__item__price">
                            <h2> $40,000 </h2>
                            <span></span>
                        </div>
                        <ul>
                            <li>Trek Pool Stair Design with 2 side benches</li>
                            <li>Interior Trek Pool Liner System</li>
                            <li>Exterior Marine Grade Trek Pool Coating System</li>
                            <li>2 Color Changing LED lights</li>
                            <li>Cartridge Filter</li>
                            <li>Ultra Violet Sanitizer</li>
                            <li>Variable Speed Pump</li>
                            <li>All Schedule 40 connections and fittings</li>
                        </ul>
                        <a href="/contact/" class="primary-btn">ORDER Your 40 Foot</a>
                    </div>
                </div>
                 <div class="col-lg-4 p-0 col-md-6">
                    <div class="pricing__item set-bg" data-setbg="{% static 'website/img/pricing/price-bg-1.png' %}">
                        <h4>Thirty Feet</h4>
                        <div class="pricing__item__price">
                            <h2> $35,000 </h2>
                            <span></span>
                        </div>
                        <ul>
                            <li>Trek Pool Stair Design with 2 side benches</li>
                            <li>Interior Trek Pool Liner System</li>
                            <li>Exterior Marine Grade Trek Pool Coating System</li>
                            <li>2 Color Changing LED lights</li>
                            <li>Cartridge Filter</li>
                            <li>Ultra Violet Sanitizer</li>
                            <li>Variable Speed Pump</li>
                            <li>All Schedule 40 connections and fittings</li>
                        </ul>
                        <a href="/contact/" class="primary-btn">ORDER Your 40 Foot</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Pricing Section End -->
 <!-- Gallery Section Begin -->
    <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title normal-title">
                        <h2>Our Gallery</h2>
                        <p>Interested in seeing more of our pools? Check out our Instagram page!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-3.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-4.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-5.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-6.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-7.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 p-0">
                    <div class="gallery__pic">
                        <img src="{% static 'website/img/gallery/gallerys-8.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Section End -->

<br>
<br>
<br>
    <!-- Appoinment Section Begin -->
    <section class="appointment">
        <div class="container">
            <div class="appointment__text">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <img src="img/icon-white.png" alt="">
                            <h2>Make An Appointment</h2>
                        </div>
                    </div>
                </div>
                <form action="#" class="appointment__form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Phone">
                        </div>
                        <div class="col-lg-6">
                            <select class="class-select">
                                <option value="">Choose Your Class</option>
                            </select>
                        </div>
                        <div class="col-lg-12 text-center">
                            <textarea placeholder="Message"></textarea>
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Appoinment Section End -->
<br>
<br>
<br>
 <!-- Footer Section Begin -->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">

                    <div class="footer__about">
                        <img src="{% static 'website/img/logo/logo-0.png' %}" alt="">
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Mon - Fri: 6:30am - 07:45pm</li>
                            <li><i class="fa fa-clock-o"></i> Sat - Sun: 8:30am - 05:45pm</li>
                        </ul>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Your Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Inspiration</h5>
                        <ul>
                          <li class="active"><a href="/home/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/faq/">FAQ</a></li>

                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>About Us</h5>
                        <ul>
                            <li><a href="/about/">Our Vision</a></li>
                            <li><a href="/about/">Our Mission</a></li>
                            <li class="active"><a href="//home/">Home</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/faq/">FAQ</a></li>

                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h5>Contact Us</h5>
                        <ul class="footer-address">
                            <li><i class="fa fa-phone"></i> +1 213 784 2257</li>
                            <li><i class="fa fa-envelope"></i> Trecontainerpools@gmail.com</li>
                            <li><i class="fa fa-location-arrow"></i>California </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright__social">
                            <a href="https://www.facebook.com/salome.dita.96"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/trekcontainerpools123?r=nametag"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'website/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'website/js/main.js' %}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
     <!-- WOW JS -->
    <script src="js/wow/wow.min.js"></script>
  <script src="{% static 'website/js/easing/jquery.easing.1.3.js' %}"></script>
    <script>
       $(document).ready(function() {
          $('.gallery__pic').magnificPopup({
             type: 'image',
             gallery:{enabled:true},
              removalDelay: 300,       // Delay in milliseconds before popup is removed
             mainClass: 'mfp-fade'   // Class that is added to popup wrapper and background
             // other options
          });
       });
    </script>
<script>
    $( function() {
        $( "#accordion" ).accordion({
            collapsible: true
        });

    } );
</script>


<!-- Begin of Chaport Live Chat code -->
<script type="text/javascript">
(function(w,d,v3){
w.chaportConfig = {
  appId : '5f65bf31f3588379ec592600'
};

if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
</script>
<!-- End of Chaport Live Chat code -->

<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+12137842257", // WhatsApp number
            call_to_action: "Message Us!", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

</body>

</html>